@import "../assets/fonts/Signifier/index.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply p-0 m-0 text-base bg-black text-white font-signifier;
}

@layer components {


  input,
  select,
  textarea,
  button {
    @apply focus:outline-none bg-transparent;
  }

  .text-linear {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  [role="button"],
  button {
    @apply select-none;
  }
}

/* 
 Mobile Responsiveness
*/
@media screen and (max-width: 1040px) {
}
@media screen and (max-width: 600px) {
}
